<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Credit Card Missing</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Dear {0} {1}<br />
                <br />
                We have noticed that your credit card information is not stored on Gateway system, a secure third party payment system which handles payments seamlessly.
                Please <a href="{2}">click here </a> to set your credit crad detail.
                <br />
                <br />
                Thank you, <br />
                VerifyTeck
            </td>
        </tr>
    </table>
</body>
</html>