@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/LoggedOutLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight wrapper-new-page-success">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Setup Error</h5>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-danger">
                        This link has been expired. 
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
