@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/LoggedOutLayout.cshtml";
}
<div class="wrapper wrapper-content animated fadeInRight wrapper-new-page-success">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Setup Complete</h5>
                </div>
                <div class="ibox-content">                    
                   
                    <div class="alert alert-success">
                        Your Credit Card has been setup successfully.
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
