@using VT.Common
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        @if (User != null && User.Identity != null && !User.IsInRole(UserRoles.CompanyUser.ToString()))
        {
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
        }
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to WORKFLOW</span>
            </li>
            <li>
                @if (User != null && User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Logout", "Auth")">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                }
            </li>
        </ul>
    </nav>
</div>